*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: url(background.jpg);
    background-size: 100% 690px;
    background-repeat: no-repeat;
}
#logo{
    margin-left: 20px;
    margin-top: 25px;
    border-radius: 20px;
    
}
img{
    width: 60px;
    margin-top: -20px;
    border-radius: 10px;
}
#head{
    display: flex;
    text-align: center;
    background-color: white;
    height: 75px;
}
#nav  {
    justify-content: space-between;
    float: left;
    align-items: center;
    display: flex;
    padding: 40px;
    margin-top: 12px;
    margin-left: 200px;
    
}
ul{
    display: flex;
    justify-content: center;
    float: left;
    align-items: center;
    
}
ul li{
    list-style: none;
    margin-left: 50px;
    margin-top: -30px;
    text-decoration: none;
    border: solid 1px;
    padding: 20px 20px 20px 20px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
}
ul li:hover{
    /* color: white; */
    background-color: rgb(56, 135, 167);
    border-radius: 15px;
}
/* ul li a:hover{
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
    color: white;
} */
ul li a{
    text-decoration: none;
    color: aliceblue;
    cursor: pointer;
    color: rgb(56, 135, 167);
}
ul li a:hover{
    color: white;
}
#search{
    margin-top: 50px;
    margin-left: 170px;
    border: none;
}
